.login-box2{
    background-color: white;
    padding: 30px;
    margin: 40px auto;
    border-radius: 15px;
    max-width: 800px;
}
.login-box2 ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}